/* v2 styles */

html,
body,
h1,
h2,
h3,
ul,
li {
    margin: 0px;
    padding: 0px;
}

canvas {
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    user-select: none;
}

game-wrapper {
    position: relative;
    display: block;
}

game-stage-wrapper {
    position: relative;
}

game-canvas {
    position: relative;
    display: block;
    text-align: center;
}

game-canvas game-dna-wrapper {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    display: flex;
    align-items: center;
    overflow: hidden;
}

game-canvas game-dna-wrapper game-dna-node {
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 1px solid #000;
    cursor: pointer;
}

game-canvas game-dna-wrapper game-dna-node.root {
    background-color: #fff;
}

game-canvas game-dna-wrapper game-dna-node-joiner {
    position: absolute;
    background-color: #000;
    transform-origin: 0 50%;
    z-index: -1;
    height: 1px;
    /* thickness */
}